/* src/Header.css */
@import "../variables.css";

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: rgb(218 203 231 / 40%); /* Semi-transparent background */
  color: var(--color-primary);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  backdrop-filter: blur(10px); /* Frosted glass effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
}

.header-left {
  display: flex;
  align-items: center;
}

.app-title {
  margin: 0;
  font-size: 24px;
  display: contents;
  align-items: center;
  color: #000;
}

.header-center {
  flex: 1;
  text-align: center;
  padding-top: 12px;
}

.search-bar {
  padding: 8px;
  border-bottom: none;
  border-radius: 4px;
  color: #000;
}

.search-bar input[type="text"] {
  width: 70%;
  appearance: none;
  border: none;
  outline: none;
  border-bottom: 0.2em solid #000 !important;
  background-color: rgba(var(--color-secondary), 0.2);
  border-radius: 0.2em 0.2em 0 0;
  padding: 0.4em;
  color: #000 !important;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right a {
  color: #000;
  text-decoration: none;
  margin-right: 20px;
  font-size: 18px;
  font-weight: 600;
}

.header-right a:hover {
  text-decoration: underline;
}

.user-menu {
  position: relative;
  cursor: pointer;
}

.user-icon {
  font-size: 24px;
  border-radius: 50%;
  padding: 5px;
  background-color: white;
  color: var(--color-primary);
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  color: var(--color-primary);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.dropdown-menu a,
.dropdown-menu button {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: var(--color-primary);
  border-bottom: 1px solid #ddd;
  background-color: white;
  width: 100%;
  text-align: left;
  font-size: 14px;
}

.dropdown-menu button {
  border: none;
  background: none;
  cursor: pointer;
  font-weight: 600;
}

.dropdown-menu a:hover,
.dropdown-menu button:hover {
  background-color: var(--color-basic);
  border-radius: 0px;
  color: #fff;
}

.text-anime {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .app-header {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .header-left,
  .header-right {
    width: 100%;
    justify-content: space-between;
  }

  .header-center {
    display: none;
  }

  .app-title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .search-bar input[type="text"] {
    width: 100%;
  }

  .header-right {
    margin-top: 10px;
  }

  .header-right a {
    margin-right: 10px;
    font-size: 16px;
  }

  .user-icon {
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  .app-title {
    font-size: 18px;
  }

  .header-left {
    flex-direction: row;
    align-items: flex-start;
  }

  .logo {
    width: 40px;
    height: 40px;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .header-right {
    flex-direction: row;
    align-items: flex-start;
  }

  .header-right a {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .search-bar input[type="text"] {
    font-size: 14px;
  }
}
