@import "../variables.css";

/* Dashboard container and layout */
.dashboard-container {
  font-family: Arial, sans-serif;
}

.dashboard-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--color-primary);
  color: white;
}

.left-section {
  display: flex;
  align-items: center;
}

.app-icon {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

.center-section {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.search-bar {
  width: 60%;
  padding: 10px;
  border: none;
  border-radius: var(--border-radius);
}

.right-section nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.right-section nav ul li {
  display: inline;
  margin-left: 20px;
}

.right-section nav ul li a {
  color: white;
  text-decoration: none;
}

.right-section nav ul li a:hover {
  text-decoration: underline;
}

.dashboard-main {
  padding: 20px;
}

/* Cards container */
.cards-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.card {
  padding: 10px;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  text-align: center;
  transition: transform 0.3s ease;
  border: 4px solid var(--color-basic);
  min-width: 200px;
  max-width: 220px;
  max-height: 280px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  padding: 20px;
  --c: #fff;
  /* text color */
  background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%)
      var(--_p, 100%) / 300% no-repeat,
    #345b97;
  /* background color */
  color: #0000;
  /*transform: perspective(500px) rotateY(calc(20deg * var(--_i, -1)));*/
  text-shadow: calc(var(--_i, -1) * 0.08em) -0.01em 0 var(--c),
    calc(var(--_i, -1) * -0.08em) 0.01em 2px #0004;
  outline-offset: 0.1em;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
  --_p: 0%;
  --_i: 1;
}

.card-icon {
  color: #fff;
  font-size: 80px;
}

.btn-active {
  background-color: var(--color-basic);
  color: white;
  padding: 10px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.btn-disabled {
  background-color: #ccc;
  color: #666;
  padding: 10px;
  border: none;
  border-radius: var(--border-radius);
}

.btn-disabled:disabled {
  cursor: not-allowed;
}

/* Form container */
.form-container {
  margin-top: 20px;
}

.SaveEdit {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.button {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.btn-active {
  background-color: var(--color-basic);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.button:hover,
.btn-active:hover {
  opacity: 0.8;
}

/* Form styling */
.create-pool-form {
  background-color: var(--color-tertiary);
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-section {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group {
  position: relative;
}

/*.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--color-basic);
  border-radius: var(--border-radius);
}*/

.input-group .input-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.input-group .logo {
  width: 20px;
  height: 20px;
}

.date-group {
  display: flex;
  gap: 10px;
}

.checkbox-wrapper-25 {
  display: flex;
  align-items: center;
}

.checkbox-wrapper-25 span {
  margin-right: 10px;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .cards-container {
    flex-direction: column;
  }

  .card {
    width: 100%;
    margin-bottom: 20px;
  }

  .dashboard-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-bar {
    width: 100%;
  }

  .right-section nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .right-section nav ul li {
    margin: 10px 0;
  }

  .form-container {
    padding: 10px;
  }

  .create-pool-form {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .dashboard-header {
    padding: 10px;
  }

  .app-icon {
    width: 40px;
    height: 40px;
  }

  .search-bar {
    width: 100%;
    padding: 8px;
  }

  .form-group {
    margin-bottom: 10px;
  }

  .input-group input {
    padding: 8px;
  }

  .button,
  .btn-active {
    padding: 8px 15px;
  }
}
