:root {
  --color-primary: #604cc3;
  --color-secondary: #80c4e9;
  --color-tertiary: #fff6e9;
  --color-basic: #ff7f3e;

  --font-family: "Arial, sans-serif";
  --font-size: 16px;
  --border-radius: 5px;
  --padding: 10px;
}

.c-pill {
  align-items: center;

  font-weight: bold;
  font-size: 14px;
  display: inline-block;
  height: 40px;
  white-space: nowrap;
  width: auto;

  border-radius: 100px;
  line-height: 1;
  overflow: hidden;
  padding: 0px 12px 0px 20px;
  text-overflow: ellipsis;
  line-height: 2.5rem;

  word-break: break-word;

  &:before {
    border-radius: 50%;
    content: "";
    height: 10px;
    left: 5px;
    margin-top: -5px;
    position: absolute;
    top: 50%;
    width: 10px;
  }
}

.c-pill--success {
  background-color: #4caf50;
  color: white;
}

.c-pill--danger {
  background-color: #f44336;
  color: #fff;
}

.c-pill--warning {
  background-color: #ff9800;
}

input[type="email"],
input[type="number"],
input[type="text"],
input[type="password"],
input {
  width: 100%;
  background: white;
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  margin-top: 15px;
  box-shadow: #cff0ff 0px 10px 10px -5px;
  border-inline: 2px solid transparent;
}
input:focus {
  outline: none;
  border-inline: 4px solid var(--color-basic);
}

input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid #000;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  &::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--color-primary);
    background-color: CanvasText;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform-origin: left top;
  }
  &:checked::before {
    transform: scale(1);
  }
}
input[type="time"] {
  width: fit-content;
}

button {
  min-width: 100px;
  min-height: 40px;
  margin-bottom: 5px;
  appearance: none;
  height: 40px;
  padding: 0.45em 1.5em;
  color: White;
  border-radius: 1em;
  transition: 1s;
}
.btn-primary {
  background-color: var(--color-basic);
  border: 2px solid var(--color-basic);
  color: white;
  margin: 8px;
  &:hover,
  &:focus,
  &:active {
    background-color: var(--color-secondary);
    color: #fff;
  }
}
.btn-secondary {
  background-color: transparent;
  border: 2px solid var(--color-basic);
  color: var(--color-tertiary);
  margin: 8px;
}
.btn-asic {
  background-color: transparent;
  border: 2px solid var(--color-basic);
  color: var(--color-primary);
  margin: 8px;
}

.btn-danger {
  background-color: transparent;
  border: 2px solid red;
  color: red;
}

@media (max-width: 480px) {
  .containerCreatePool {
    display: block;
    width: 100%;
  }
  .gridy {
    display: block !important;
  }
}
@media (max-width: 768px) {
  .containerCreatePool {
    display: block;
    width: 100%;
  }
  .gridy {
    display: block !important;
  }
}
.error-message {
  color: var(--color-basic);
}

.input-icon {
  color: white;
  font-size: 25px !important;
}

.pagination {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  background-color: var(--color-basic);
  border: none;
  color: var(--color-primary);

  height: 40px; /* Set the height */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px;
  cursor: pointer;

  transition: background-color 0.3s ease;
}

.pagination button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination span {
  font-size: 16px;
  margin: 0 10px;
}

.pagination button:hover:not(:disabled) {
  background-color: #0056b3;
}

/* Table customs */
.table_card {
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table-wrapper {
  overflow-x: auto;
}

.fl-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
}

.fl-table th,
.fl-table td {
  /* border: 1px solid #ddd;*/
  padding: 12px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .fl-table th,
  .fl-table td {
    padding: 8px;
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .table_card {
    padding: 10px;
  }

  .fl-table {
    font-size: 14px;
  }

  .fl-table th,
  .fl-table td {
    padding: 6px;
  }

  .fl-table th {
    font-size: 12px;
  }

  .fl-table td {
    font-size: 12px;
  }
}

.fl-table th {
  background-color: #1868ae;
  color: #ffffff;
}

.fl-table tr:nth-child(even) {
  background-color: #1868ae;
  color: white;
}
.fl-table tr:nth-child(odd) {
  background-color: #c6d7eb;
  color: BLACK;
}
.fl-table a {
  text-decoration: none;
}

.fl-table a:hover {
  text-decoration: underline;
}
